main {
    background-image: url('/assets/bb-bg.jpg');
    background-repeat: repeat;
    background-size: 1000px 1000px;
    text-align: center;
}
li {
    background-color: aqua;
    border: solid;
    border-color: red;
}
